<html ng-app="Events">

<head>

	<!-- Angular -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>

	<!-- Firebase -->
	<script src="https://www.gstatic.com/firebasejs/3.5.3/firebase.js"></script>

	<!-- AngularFire -->
	<script src="https://cdn.firebase.com/libs/angularfire/2.0.1/angularfire.min.js"></script>

</head>

<body>
	<div ng-controller="EventsCtrl" class="container">
		<form class="col-md-6">

			<div class="form-group">
				<label for="InputOrganizer">Organizer:</label>
				<input type="text" class="form-control" placeholder="eg. HKUST" ng-model="input.organizer" required>
			</div>

			<div class="form-group">
				<label for="InputOrganizer">Semester:</label>
				<div class="dropdown">
					<button class="btn btn-default dropdown-toggle" type="button" id="semesterDropdownMenu" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="true">
						please select semester...
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" aria-labelledby="semesterDropdownMenu">
						<li><a href="#">String</a></li>
						<li><a href="#">Summer</a></li>
						<li><a href="#">Fall</a></li>
						<li><a href="#">Winter</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Not Applicabile</a></li>
					</ul>
				</div>
			</div>

			<div class="form-group">
				<label for="InputCourse">Course:</label>
				<input type="text" class="form-control" placeholder="eg. COMP3111" ng-model="input.course">
			</div>

			<div class="form-group">
				<label for="InputEventName">Event Title:</label>
				<input type="text" class="form-control" placeholder="eg. COMP3111 Group Project" ng-model="input.title" required>
			</div>

			<label for="dtp_input2" class="control-label">Deadline of Teamforming:</label>
			<div class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd"
				ng-model="input.deadline">
				<input class="form-control" size="16" type="text" value="" readonly>
				<span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
				<span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
			</div>
			<input type="hidden" id="dtp_input2" value="" /><br/>

			<div class="form-group">
				<label for="InputNumOfTeam">Number of Team Limit:</label>
				<input type="text" class="form-control" placeholder="eg. 10" ng-model="input.numOfTeam">
			</div>

			</br>

			<div class="form-group">
				<label>Maximum Team Members:  <span class="badge">{{input.maxMem}}</span></label>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="editMaxMem(1)"><span class="glyphicon glyphicon-plus"></span></button>
					<button type="button" class="btn btn-default" ng-click="editMaxMem(-1)"><span class="glyphicon glyphicon-minus"></span></button>
				</div>
				</br>
				</br>
				<label>Minimum Team Members:  <span class="badge">{{input.minMem}}</span></label>
				<div class="btn-group" role="group">
					<button type="button" class="btn btn-default" ng-click="editMinMem(1)"><span class="glyphicon glyphicon-plus"></span></button>
					<button type="button" class="btn btn-default" ng-click="editMinMem(-1)"><span class="glyphicon glyphicon-minus"></span></button>
				</div>
			</div>

			<div class "form-group">
				<label>Privacy Settings:</label></br>
				<div class="radio-inline">
					<label><input type="radio" value="public" ng-model="input.privacy">Public event</label>
				</div>
				<div class="radio-inline">
					<label><input type="radio" value="private" ng-model="input.privacy">Private event</label>
				</div>
			</div>

			</br>

			<div class="form-group">
				<label>Description:</label>
				<textarea class="form-control" rows="5" placeholder="Add descriptions here..." ng-model="input.desc"></textarea>
			</div>

			<input type="button" class="btn btn-default" value="Submit" ng-click="addEvent()">
		</form>
	</div>
</body>

<footer>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<script src="js/bootstrap.min.js"></script>
	<link href="css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
	<script type="text/javascript" src="jquery/jquery-1.8.3.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/bootstrap-datetimepicker.min.js" charset="UTF-8"></script>
	<script type="text/javascript" src="js/adminform.js" charset="UTF-8"></script>
</footer>

</html>